.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.btn1{
    background-color: blueviolet;
    width: 100px;
    color: aliceblue;
    border-radius: 20px;
    height: 50px;
    
    

}

.btn2{
    background-color: rgb(7, 7, 145);
    width: 100px;
    color: aliceblue;
    border-radius: 20px;
    height: 50px;
    
}

.btn3{
    background-color: rgb(163, 5, 5);
    width: 100px;
    color: aliceblue;
    border-radius: 20px;
    height: 50px;
    
}
.btn1:hover{
    background-color: aqua;
    color: black;
    opacity: 0.7;
    cursor: pointer;
    
}
.btn2:hover{
    background-color: rgb(29, 204, 13);
    color: black;
    opacity: 0.7;
    cursor: pointer;
}
.btn3:hover{
    background-color: rgb(196, 7, 206);
    color: black;
    opacity: 0.7;
    cursor: pointer;
}
